.spinner {
    border: 8px solid #f3f3f3;
    /* Màu nền */
    border-top: 8px solid #3498db;
    /* Màu của phần quay */
    border-radius: 50%;
    width: 50px;
    /* Kích thước spinner */
    height: 50px;
    /* Kích thước spinner */
    animation: spin 1s linear infinite;
    /* Hiệu ứng quay */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Giữa màn hình */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}